# Configure entrypoints
ports:
  # Service entrypoints
  web:
    port: 8000
    expose:
      default: true       # Create entry in main service
    exposedPort: 80       # Exposed port on VIP
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  
  websecure:
    port: 8443
    expose:
      default: true       # Create entry in main service
    exposedPort: 443      # Exposed port on VIP
    tls:
      enabled: true

  # Admin entrypoints
  http-admin:
    port: 9000
    expose:
      default: false      # Do not use main service
    redirections:
      entryPoint:
        to: https-admin
        scheme: https
        permanent: true
  
  https-admin:
    port: 9443
    expose:
      default: false      # Do not use main service
    tls:
      enabled: true
      options: "tls-admin-lab-ln@kubernetescrd"

# Main service
service:
  enabled: true
  type: LoadBalancer
  annotations:
    kube-vip.io/loadbalancerIPs: "svc_vip"

# Default TLS certificate
tlsStore:
  default:
    defaultCertificate:
      secretName: tls-svc-lab-ln

extraObjects:
  # Admin service
  - apiVersion: v1
    kind: Service
    metadata:
      name: traefik-admin-service
      annotations:
         metallb.universe.tf/loadBalancerIPs: "admin_vip"
    spec:
      type: ClusterIP
      externalIPs:
        - admin_vip
      selector:
        app.kubernetes.io/name: traefik
        app.kubernetes.io/instance: traefik-traefik 
      ports:
        - name: http-admin
          port: 80          # External port (Host)
          targetPort: 9000  # Internal port (Container)
        - name: https-admin
          port: 443         # External port (Host)
          targetPort: 9443  # Internal port (Container)
