# Configure entrypoints
ports:
  # Service entrypoints
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  
  websecure: {}

  # Add empty admin entry point
  http-admin:
    port: 9000
    expose:
      default: false
  https-admin:
    port: 9443
    expose:
      default: false

# Main service
service:
  enabled: true
  type: LoadBalancer
  annotations:
    kube-vip.io/loadbalancerIPs: "svc_vip"

ingressRoute:
  dashboard:
    enabled: false

# Default TLS certificate
tlsStore:
  default:
    defaultCertificate:
      secretName: tls-svc-lab-ln
