# Configure entrypoints
ports:
  # Service entrypoints
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  
  websecure: {}

# Main service
service:
  enabled: true
  type: LoadBalancer
  annotations:
    kube-vip.io/loadbalancerIPs: "192.168.14.1"

ingressRoute:
  dashboard:
    enabled: false

# Default TLS certificate
tlsStore:
  default:
    defaultCertificate:
      secretName: tls-svc-lab-ln
