[Unit]
Description=Gen ssh ListenAddress conf file
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gen_sshd_listen
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
